<aside class="sidebar">
  <h3>Sports</h3>
  <ul class="sports-menu">
    <li><a href="/feed/football">Football</a></li>
    <li><a href="/feed/basketball">Basketball</a></li>
    <li><a href="/feed/baseball">Baseball</a></li>
    <li><a href="/feed/soccer">Soccer</a></li>
    <li><a href="/feed/tennis">Tennis</a></li>
    <li><a href="/feed/">View All</a></li>
    <li><a href="/profile">My Profile</a></li>
  </ul>
</aside>