<%- include('partials/header') -%>
<div class="wrapper">
  <ul class="bet-list">
    <% for(let i=0; i<posts.length; i++) {%>
      <li class="card">
        <a href="/post/<%= posts[i]._id%>">
          <h4 class="card-sport">SPORT</h4>
          <h3 class="card-bet">BET</h3>
          <p class="card-content">BET REASONING: Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <button class="card-btn">READ MORE</button>
        </a>
        <h4 class="bet-author"><%= posts[i].user.userName %></h4>
      </li>
    <% } %>
  </ul>
</div>
<%- include('partials/footer') -%>